body {
  width:100%;
  height:100%;
  overflow:hidden;
}

.map{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.defaultLogo{
  display: block;
  width: 152px;
  height: 50px;
  background: transparent url(../assets/img/logo.png) no-repeat;
  position: absolute;
  top: 60px;
  left: 90px;
  display: none;
  cursor: pointer;
}

#initialCover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:url('../assets/img/white_bkg.png') repeat 0 0;
  text-align: center;
  z-index: 3;
}

.wrapper{
  margin: 100px auto 0 auto;
  display: block;
  width: 1000px;
  height: 200px;
  padding: 0;
}

#initialCover .head{
  display: block;
  width: 1000px;
  height: 100px;
}

.logo{
  display: block;
  width: 152px;
  height: 50px;
  background: transparent url(../assets/img/logo.png) no-repeat;
}

.border{
  display: block;
  width: 1000px;
  height: 4px;
  background: transparent url(../assets/img/border.png) no-repeat;
  margin: 40px 0 0 0;
}

#initialCover .wrapper .content{
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #333;
  text-align: left;
}

#initialCover .wrapper .content p{
  margin: 25px 0 0 0;
}

#initialCover .wrapper .content p a,
#initialCover .wrapper .content p a:visited{
  color: #333;
}

#filterBtn{
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 2;
  display: none;
}

#filterBtn a, #filterBtn a:visited{
  position:relative;
  display:block;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #666;
  background: transparent url(../assets/img/filterBtn.png) 0 0 no-repeat;
  padding: 80px 25px 20px 30px;
  cursor: pointer;
}

#filterBtn a:hover{
  color: #FF4D4D;
  background: transparent url(../assets/img/filterBtn.png) 0 -119px no-repeat;
  padding: 80px 25px 20px 30px;
}

#bottomBtns{
  position: absolute;
  right: 40px;
  bottom: 30px;
  z-index: 2;
  display: none;
}

#filterText{
  position: absolute;
  right: 200px;
  bottom: 38px;
  z-index: 2;
  text-align: left;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #666;
}

#bottomBtns a, #bottomBtns a:visited{
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #666;
  background: transparent url(../assets/img/bottomBtn.png) 0 0 no-repeat;
  display: inline-block;
  padding: 22px 0 0 0;
  text-align: center;
  width: 150px;
  height: 38px;
  margin: 0;
  cursor: pointer;
}

#bottomBtns a:hover{
  color: #FF4D4D;
}

#filterCover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:url('../assets/img/white_bkg.png') repeat 0 0;
  text-align: center;
  z-index: 3;
}

#filterCover .head{
  display: block;
  width: 1000px;
  height: 70px;
}


#filterCover .wrapper .content{
  position:relative;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 49px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #333;
  text-align: left;
}

#filterCover h3{
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 49px;
  font-weight: bold;
  letter-spacing: -1px;
  color:#999;
  color: rgba(0,0,0,0.3);
  text-align: left; 
  margin: 0;
  margin: 30px 0 0 0;
}

#filterCover .wrapper .content p{
  width:420px;
  margin: 5px 0 0 0;
  line-height:55px;
}

#filterCover input {
  position:absolute;
  left:370px;
  top:58px;
  width:570px;
  padding:0;
  font:bold 49px Helvetica,Arial, Sans-serif;
  letter-spacing: -1px;
  border:none;
  color:#333;
  border-bottom:3px solid #333333;
  background:none;
}

#filterCover input:focus {
  outline:none;
}

.ui-autocomplete {
  width:474px;
  padding:0;
}

.ui-autocomplete li {
  list-style:none;
  display:block;
}

.ui-autocomplete li a {
  font:bold 49px Helvetica,Arial, Sans-serif;
  letter-spacing: -1px;
  color:#FF4C4C;
}

.ui-autocomplete li a.ui-state-focus,
.ui-autocomplete li a.ui-state-hover {
  text-decoration:underline;
  color:#333;
  cursor:pointer;
}







.sectorSelec {
  font:bold 49px Helvetica,Arial, Sans-serif;
  letter-spacing: -1px;
  color:#FF4C4C;
  width: 626px;
  background: none;
  cursor:pointer;
  border: none;
  margin: -110px 0px 0px 374px;
  outline:none;
  
}










span.ui-helper-hidden-accessible {
  display:none!important;
}